<table class="table">
  <tr>
    <th>Post Date</th>
    <th>Image</th>
    <th>Title</th>
    <th>Like</th>
    <th>comment</th>
  </tr>
  <% posts.each do |post| %>
  <tr>
    <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
    <td><%= image_tag post.get_image(100,100), class: "list_image" %></td>
    <td class="text-truncate" style="max-width: 300px;">
      <%= link_to post_path(post.id), class: "text-decoration-none text-info font-weight-bold" do %>
        <%= post.title %>
      <% end %>
    </td>

    <td>
      <% if post.favorited_by?(current_user) %>
        <i class="fas fa-heart" style="color: #d20423;"></i> <%= post.favorites.count %>
      <% else %>
        <i class="fas fa-heart" style="color: #b4b1b1;"></i> <%= post.favorites.count %>
      <% end %>
    </td>
    <td class="text-center">
      <% if post.comment_by?(current_user) %>
        <i class="fas fa-comment-dots"></i> <%= post.post_comments.count %>
      <% else %>
        <i class="far fa-comment"></i> <%= post.post_comments.count %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
