<% post.post_comments.each do |post_comment| %>
  <tr>
    <th colspan="2"><%= image_tag post_comment.user.get_profile_image, class: "comment_image" %> <%= post_comment.user.name %></th>
  </tr>
  <tr>
    <td colspan="2"><%= post_comment.comment %></td>
  </tr>
  <tr>
    <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
    <td>
      <% if post_comment.user == current_user %>
        <%= link_to post_post_comment_path(post_comment.post,post_comment), method: :delete, remote: true do %>
          <i class="fas fa-trash-alt" style="color: #f00000;"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>