<div class="container py-5">
  <div class="row">
    <div class="col">
      <h4>ユーザー編集</h4>
      <table>
        <%= form_with model: @user, url: admin_user_path(@user), method: :patch  do |f| %>
        <tr>
          <th>登録日</th>
          <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= f.radio_button :is_deleted, :false, checked: true %>
            <%= f.label :is_deleted_false, '有効　', {value: :false} %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted_true, '退会', {value: :true} %>
          </td>
        </tr>
        <tr>
          <td colspan="2"><%= f.submit '変更を保存', class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>