<div>
  <%= flash[:notice] %>
</div>
<div class="container py-5">
  <div class="row">
    <!--左側のページ-->
    <div class="col-md-3 mt-2">
      <!--ユーザープロフィール-->
      <%= render 'user_profile', user: @user %>

      <div class="edit-btn">
        <!--ゲストログインの場合は非表示-->
        <% if @user.name != "guestuser" %>
          <!--編集ページへのリンク-->
          <%= link_to edit_user_path(@user.id) do %>
          <button type="button" class="btn btn-outline-secondary rounded-circle", style="width:3rem;height:3rem;">
            <i class="fas fa-cog"></i>
          </button>
          <% end %>
        <% end %>
        <!--いいね一覧へのリンク-->
        <%= link_to favorites_user_path(@user) do %>
          <button type="button" class="btn btn-outline-danger rounded-circle", style="width:3rem;height:3rem;">
            <i class="fas fa-heart"></i>
          </button>
        <% end %>
      </div>

      <h4>Quick Post</h4>
      <!--新規投稿フォーム-->
      <%= render 'public/posts/post_form', post: @post %>
    </div>

    <!--右側のページ-->
    <div class="col-md-8 offset-md-1">
      <h2>User List</h2>
      <!--ユーザーの一覧-->
      <%= render 'public/users/user_list', users: @users %>
      <%= paginate @users %>
    </div>

  </div>
</div>